<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head}"></head>
<style>
    body {
        text-align: initial;
    }
</style>
<body>
<div th:replace="~{common/nav :: nav}"></div>
<div class="container">
    <div style="display: flex; justify-content: space-between" class="fs-5 ms-2 mt-3">
        <div>
            <h1 th:text="'Упс...'"></h1>
        </div>
    </div>
    <div style="display: flex; justify-content: space-between" class="fs-5 ms-2 mt-3">
        <div>
            <h1 th:text="${'Произошла ошибка' + (error == null ? '!' : (': ' + error))}"></h1>
        </div>
    </div>
    <div style="display: flex; justify-content: space-between" class="fs-5 ms-2 mt-3">
        <div>
            <h1 th:text="${'¯\_(ツ)_/¯'}"></h1>
        </div>
    </div>
</div>
<footer th:replace="~{common/footer :: footer}"></footer>
</body>
</html>
