<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head}"></head>
<style>
    body {
        text-align: initial;
    }
</style>
<body>
<div th:replace="~{common/nav :: nav}"></div>
<div class="container">
    <div style="display: flex; justify-content: space-between" class="fs-5 ms-2 mt-3">
        <div>Проставление оценки (создание)</div>
        <a href="/grade/" class="btn btn-outline-primary">К списку оценок</a>
    </div>
    <!-- div>
        <a href="/grade/">
            <button>К списку оценок</button>
        </a>
    </div -->
    <form method="post">
        <p th:if="${errors!= null}">
            <!-- p class="errorMessage" th:each="error: ${errors}" th:text="${error.getField()+' '+error.getDefaultMessage()}"></p -->
        </p>
        <p>
            <label>Выберите оценку</label>
            <br/>
            <select name="grade" class="form-select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5" selected>5</option>
            </select>
            <!-- input name="grade"/ -->
        </p>
        <p>
            <label>Лекция <span style="color: #c2c2c2; font-size: 14px">(lesson)</span></label>
            <br/>
            <select name="lessonId" class="form-select">
                <option th:each="lesson : ${lessons}"
                        th:data-course-id="${lesson.getCourseId()}"
                        th:data-lesson-id="${lesson.getId()}"
                        th:value="${lesson.getId()}"
                        th:text="${lesson.getTitle() + ' (курс: ' + courses.get(lesson.getCourseId().toString()) + ')'}">
                </option>
            </select>
            <!-- input name="lessonId"/  -->
        </p>
        <p>
            <label>Студент <span style="color: #c2c2c2; font-size: 14px">(group/student)</span></label>
            <br/>
            <select name="groupStudentId" class="form-select">
                <option th:each="groupStudent : ${group_students}"
                        th:data-gs-id="${groupStudent.getId()}"
                        th:value="${groupStudent.getId()}"
                        th:text="${studentsUsers.get(groupStudent.getUserId().toString()).getSurname()}">
                </option>
            </select>
<!--            <input name="groupStudentId"/>-->
        </p>
        <p>
            <button class="btn btn-primary">Поставить оценку</button>
        </p>
    </form>
</div>
<style>
    .errorMessage {
        color: red;
    }
</style>
<footer th:replace="~{common/footer :: footer}"></footer>
</body>
</html>