<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{common/head :: head}"></head>
<style>
    body {
        text-align: initial;
    }
    svg > g > g.google-visualization-tooltip { pointer-events: none }
</style>
<body>
<div th:replace="~{common/nav :: nav}"></div>
<div class="container">
    <div style="display: flex; justify-content: space-between" class="fs-5 ms-2 mt-3">
        <div>
            <span>Все оценки</span>
        </div>
        <div>
            <a href="javascript: void(0)" id="show_stat" class="btn btn-outline-success">Скрыть статистику</a>
            <a href="/grade/courses" class="btn btn-outline-primary">Выбрать курс/лекцию/группу и поставить оценку</a>
            <a href="/grade/create" class="btn btn-outline-primary">Поставить оценку</a>
        </div>
    </div>
    <div id="chart_div" style="padding-top: 2rem;"></div>
    <!-- span> Сортировка: </span -->
    <span id="filters">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="flex-direction: row">
            <li class="nav-item dropdown">
                <a class="nav-link" href="/grade/" id="navbarDropdownMenuAll" role="button" aria-expanded="false">
                    Все
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLessons" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Лекции
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLessons">
                    <li th:each="lesson : ${lessons}">
                        <a th:text="${lesson.getValue().getTitle()}"
                           th:data-lesson="${lesson.getValue().getId()}"
                           class="dropdown-item" href="javascript: void(0)">
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuStudents" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Студенты
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuStudents">
                    <li th:each="student : ${students}">
                        <a th:text="${student.getValue().getSurname() + ' ' + student.getValue().getName()}"
                           th:data-student="${student.getValue().getId()}"
                           class="dropdown-item" href="javascript: void(0)">
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuGroups" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Группы
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuGroups">
                    <li th:each="group : ${groups}">
                        <a th:text="${group.getValue().getTitle()}"
                           th:data-group="${group.getValue().getId()}"
                           class="dropdown-item" href="javascript: void(0)">
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuGrades" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Оценки
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuGrades">
                    <li><a class="dropdown-item" href="javascript: void(0)" data-grade="1">1</a></li>
                    <li><a class="dropdown-item" href="javascript: void(0)" data-grade="2">2</a></li>
                    <li><a class="dropdown-item" href="javascript: void(0)" data-grade="3">3</a></li>
                    <li><a class="dropdown-item" href="javascript: void(0)" data-grade="4">4</a></li>
                    <li><a class="dropdown-item" href="javascript: void(0)" data-grade="5">5</a></li>
                </ul>
            </li>
      </ul>
    </span>
    <table th:if="${grades.size() > 0}" class="table table-hover mt-1">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Наименование урока</th>
            <th scope="col">Описание урока</th>
            <th scope="col">ID студента</th>
            <th scope="col">имя фамилия</th>
            <th scope="col">Группа</th>
            <th scope="col">Оценка</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="grade"
            th:data-lesson-id="${grade.getLessonId()}"
            th:data-student-id="${groupStudents.get(grade.groupStudentId).getUserId()}"
            th:data-grade-id="${grade.getGrade()}"
            th:data-group-id="${groupStudents.get(grade.groupStudentId).getGroupId()}"
            th:each="grade : ${grades}">
            <th scope="row" th:text="${grade.getId()}"></th>
            <td th:text="${lessons.get(grade.getLessonId()).title}"></td>
            <td th:text="${lessons.get(grade.getLessonId()).description}"></td>
            <td th:text="${grade.groupStudentId}"></td>
            <td th:text="${students.get(groupStudents.get(grade.getGroupStudentId().toString()).getUserId().toString()).getName() + ' ' + students.get(groupStudents.get(grade.getGroupStudentId().toString()).getUserId().toString()).getSurname()}"></td>
            <td th:text="${groups.get(groupStudents.get(grade.getGroupStudentId()).getGroupId().toString()).getTitle()}"></td>

            <td th:text="${grade.grade}" style="font-weight: bold"></td>
            <td>
                <a th:href="@{/grade/delete(id=${grade.getId()})}" class="btn btn-outline-danger"
                   title="Удалить оценку?">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-dash" viewBox="0 0 16 16">
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                    </svg>
                </a>
                <a th:href="@{/grade/edit(id=${grade.getId()})}" class="btn btn-outline-success"
                   title="Отредактировать оценку?">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:unless="${grades.size() > 0}">
        Оценок пока ещё нет
    </div>
</div>

<footer th:replace="~{common/footer :: footer}"></footer>
<script>
    let filters = document.querySelector("#filters");
    if (filters != undefined) {
        filters.addEventListener("click", function (el) {
            if (el.target.dataset) {
                let action = el.target.dataset;
                action = Object.keys(action)[0];
                if (el.target.dataset[action]) {
                    let css = "[data-" + action + "-id]";
                    let allLessons = document.querySelectorAll(css);
                    allLessons.forEach(function (elem) {
                        elem.hidden = true;
                        if (elem.dataset[`${action}Id`] == el.target.dataset[action]) {
                            elem.hidden = false;
                        }
                    })
                }
            }
        })
    }
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    // вывод статистики в форме диаграммы

    // включает и выключает блок статистики
    let stat_block = document.querySelector("#chart_div");
    let stat_button = document.querySelector("#show_stat");
    stat_button.addEventListener('click', function (el){
        if (stat_block.hidden == true){
            stat_block.hidden = false;
            stat_button.innerHTML = "Скрыть статистику";
        } else {
            stat_block.hidden = true;
            stat_button.innerHTML = "Показать статистику";
        }
    })

    // данные от backend через Thymeleaf
    let students = [[${students}]];
    let group_students = [[${groupStudents}]];
    let grades = [[${grades}]];

    // собирает данные по студентам: ключ id, {name, surname, grades[]}
    let students_grades = {};
    for (let key in students) { // по каждому студенту
        students_grades[key] = {
            name: students[key].name,
            surname: students[key].surname,
            grades: []
        };
        let gsId = getGroupStudentIdByUserId(key);
        for (let innerKey in grades) {
            if (grades[innerKey].groupStudentId == gsId){
                students_grades[key].grades.push(grades[innerKey].grade);
            }
        }
    }

    // получает groupStudentId по userId
    function getGroupStudentIdByUserId(userid){
        for (let key in group_students) {
            if (group_students[key].userId == userid){
                return key;
            }
        }
        return null;
    }

    const chartColors = ['#fca6d4', '#91daf2', '#57aef5', '#9e57f5', '#f557e2', '#f5575e'];
    let chart_data = [];
    chart_data.push(["Фамилия", "Оценка", {role: "style"}]);
    let counter = 0;
    for (let key in students_grades) {
        let element = students_grades[key];
        let initial = 0;
        let sumWithInitial = element.grades.reduce((prev, curr) => +prev + +curr, initial);
        let average = sumWithInitial / element.grades.length;
        chart_data.push([element.surname, average, chartColors[counter]]);
        counter++;
    }

    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    console.log("data", chart_data);

    function drawChart() {
        var data = google.visualization.arrayToDataTable(chart_data);
        var options = {
            title: "Средняя оценка студента",
            width: 800,
            height: 200,
            bar: {groupWidth: "50%"},
            legend: {position: "none"},
            chartArea: {
                width: "90%",
                left: 40,
                top: 20
            }
        }
        var chart = new google.visualization.ColumnChart(document.getElementById("chart_div"));
        chart.draw(data, options);
    }

    /*]]>*/
</script>
</body>
</html>
