<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head}"></head>
<style>
    body {
        text-align: initial;
    }
</style>
<body>
<div th:replace="~{common/nav :: nav}"></div>
<div class="container">
    <div style="display: flex; justify-content: space-between" class="fs-5 ms-2 mt-3">
        <div>
            <span>Список студентов с оценками</span>
            <a style="font-size: 16px; padding-left: 20px" href="/grade/">К списку оценок</a>
        </div>
    </div>

    <table th:if="${students.size() > 0}" class="table table-hover mt-1">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Урок</th>
            <th scope="col">Оценка</th>
            <th scope="col">Поставить/Удалить/Изменить</th>
        </tr>
        </thead>
        <tbody>
        <tr class="grade" th:each="student : ${students}">
            <th scope="row" th:text="${student.getId()}"></th>
            <td th:text="${student.getSurname()}"></td>
            <td th:text="${student.getName()}"></td>
            <td th:text="${'id:' + lesson_id + ' name:' + lesson_name} "></td>
            <td>-</td>
            <td>
                <a th:href="@{/grade/create(lesson_id=${lesson_id},group_student_id=${group_student_id})}"
                   class="btn btn-outline-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                    </svg>
                </a>
                <a href="/grade/delete?id=2" class="btn btn-outline-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-dash" viewBox="0 0 16 16">
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                    </svg>
                </a>
                <a href="/grade/edit?id=2" class="btn btn-outline-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:unless="${students.size() > 0}">
        Список студентов пуст
    </div>
</div>
<footer th:replace="~{common/footer :: footer}"></footer>
</body>
</html>
