<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{common/head :: head}"></head>
<style>
    body {
        text-align: initial;
    }
</style>
<body>
<div th:replace="~{common/nav :: nav}"></div>
<div class="container mb-4 mt-4">
    <div sec:authorize="isAuthenticated()" class="container mb-4 mt-4">
        <div class="list-group">
            <a sec:authorize="hasAuthority('Administrator')" type="button" href="/user/"
               class="list-group-item list-group-item-action">Интерфейс для взаимодействия с пользователями</a>
            <a sec:authorize="hasAuthority('Administrator')" type="button" href="/course/"
               class="list-group-item list-group-item-action">Интерфейс для взаимодействия с курсами</a>
            <a sec:authorize="hasAuthority('Administrator')" type="button" href="/group/"
               class="list-group-item list-group-item-action">Интерфейс для взаимодействия с группами</a>
            <!-- a type="button" href="/lesson/" class="list-group-item list-group-item-action disabled">Интерфейс для
                взаимодействия с лекциями</a -->
            <a sec:authorize="hasAuthority('Administrator')" type="button" href="/grade/"
               class="list-group-item list-group-item-action">Интерфейс проставления оценок</a>

            <a sec:authorize="hasAuthority('Teacher')" type="button" href="/course/"
               class="list-group-item list-group-item-action">Интерфейс для взаимодействия с курсами</a>
            <a sec:authorize="hasAuthority('Teacher')" type="button" href="/group/"
               class="list-group-item list-group-item-action">Интерфейс для взаимодействия с группами</a>
            <a sec:authorize="hasAuthority('Teacher')" type="button" href="/grade/"
               class="list-group-item list-group-item-action">Интерфейс проставления оценок</a>

            <a sec:authorize="hasAuthority('Student')" type="button" href="/grade/student/"
               class="list-group-item list-group-item-action">Зачетная книжка</a>
        </div>
    </div>
    <div sec:authorize="isAnonymous()" class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button th:each="course : ${courses}" type="button" data-bs-target="#carouselExampleIndicators"
                        th:data-bs-slide-to="${course.getId() - 1}" class="active"
                        aria-current="true" th:aria-label="${'Slide ' + course.getId()}">
                </button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item" th:each="course : ${courses}">
                    <img th:src="${'https://picsum.photos/id/' + course.getId() + '/800/200'}" class="d-block w-100"
                         alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 th:text="${course.getTitle()}"></h5>
                        <p th:text="${course.getDescription()}"></p>
                    </div>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="row mt-1">
            <div class="col-sm-4 mt-2" th:each="course : ${courses}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${course.getTitle()}"></h5>
                        <p class="card-text" th:text="${course.getDescription()}"></p>
                        <a th:href="${'/course/' + course.getId()}" class="btn btn-outline-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="~{common/footer :: footer}"></footer>
    <script>
        let carousel_item = document.querySelector(".carousel-item");
        carousel_item.classList.add("active");
    </script>
</div>
</body>
</html>