<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head}">
    <title>Создание пользователя</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{common/nav :: nav}"></div>
<h1>Создание пользователя</h1>
<div>
    <a href="/user/"><button>К списку пользователей</button></a>
</div>
<form method="post">
    <p th:if="${errors!= null}">
    <p class="errorMessage" th:each="error: ${errors}" th:text="${error.getField()+' '+error.getDefaultMessage()}"></p>
    </p>
    <p>
        <label>Выберите роль</label>
        <br/>
        <select name="role">
            <option th:each="role : ${roles}" th:value="${role}" th:text="${role.name}"></option>
        </select>
    </p>
    <p>
        <label>Имя пользователя</label>
        <br/>
        <input name="name"/>
    </p>
    <p>
        <label>Фамилия пользователя</label>
        <br/>
        <input name="surname"></input>
    </p>
    <p>
        <label>Отчество пользователя</label>
        <br/>
        <input name="middleName"></input>
    </p>
    <p>
        <label>Логин пользователя</label>
        <br/>
        <input name="login"/>
    </p>
    <p>
        <label>Пароль пользователя</label>
        <br/>
        <input name="password"/>
    </p>
    <p>
        <button>Создать пользователя</button>
    </p>
</form>

<style>
.errorMessage {
    color: red;
}
</style>
</body>
<footer th:replace="~{common/footer :: footer}"></footer>
</html>