<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head}">
    <title>Пользователи</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{common/nav :: nav}"></div>
<h1>Пользователи</h1>
<div>
    <a href="/user/create"><button>Создать пользователя</button></a>
</div>
<div th:if="${users.size() > 0}">
    <div class="user" th:each="record : ${users}">
        <h1 th:text="${record.getRole().name()}"></h1>
        <h2 th:text="${'ИД: ' + record.getId()}"></h2>
        <h2 th:text="${'Имя ' + record.getName()}"></h2>
        <h2 th:text="${'Фамилия ' + record.getSurname()}"></h2>
        <h2 th:text="${'Отчество ' + record.getMiddleName ()}"></h2>
    </div>
</div>
<div th:unless="${users.size() > 0}">
    Пользователей нет
</div>
</body>
<footer th:replace="~{common/footer :: footer}"></footer>
</html>
