<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head}"></head>
<style>
    body {
        text-align: initial;
    }
</style>
<body>
<div th:replace="~{common/nav :: nav}"></div>
<div class="container">

    <div style="display: flex; justify-content: space-between" class="fs-5 ms-2 mt-3">
        <div>
            <span>Группы</span>
        </div>
        <a href="/group/create/" class="btn btn-outline-primary">Добавить группу</a>
    </div>

    <table th:if="${groups.size() > 0}" class="table table-hover mt-1">
        <thead>
        <tr>
            <th scope="col">ID группы</th>
            <th scope="col">Наименование курса</th>
            <th scope="col">Редактировать курс</th>
            <th scope="col">Название группы</th>
            <th scope="col">Количество учащихся</th>
            <th scope="col">Обучение группы началось?</th>
            <th scope="col">Редактировать / удалить группу</th>
        </tr>
        </thead>
        <tbody>
        <tr class="group" th:each="group : ${groups}">
            <th scope="row" th:text="${group.id}" />
            <td th:if="${courses.get(group.getCourseId()) != null}"><a th:href="${'/course/' + group.getCourseId()}" th:text="${courses.get(group.getCourseId()).title}" /></td>
            <td th:if="${courses.get(group.getCourseId()) == null}">null value</td>
            <td>
                <a th:href="@{/course/edit(id=${group.courseId})}" class="btn btn-outline-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                </a>
            </td>
            <td><a th:href="${'/group/' + group.id}" th:text="${group.title}" /></td>
            <td th:if="${groupStudents.get(group.id) != null}" th:text="${groupStudents.get(group.id)}" />
            <td th:if="${groupStudents.get(group.id) == null}">null value</td>
            <td th:if="${(group.isStarted)}">Да</td>
            <td th:if="${!group.isStarted}">Нет</td>
            <td>
                <a th:href="${'/group/edit?id=' + group.id}" class="btn btn-outline-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                </a>
                <!-- a th:href="${'/group/delete/' + group.id}" class="btn btn-outline-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-dash" viewBox="0 0 16 16">
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                    </svg>
                </a -->
            </td>
        </tr>
        </tbody>
    </table>

    <div style="display: flex; justify-content: space-between" class="fs-5 ms-2 mt-3">
        <div>
            <span>Общий список курсов</span>
        </div>
    </div>
    <div th:each="map : ${courses}">
        <div th:each="mapEntry : ${map}">
            ID:<span th:text="${mapEntry.key}"></span> -
            <a th:href="${'/course/' + mapEntry.key}"><span th:text="${mapEntry.value.title}"></a></span>
        </div>
    </div>


</div>
<footer th:replace="~{common/footer :: footer}"></footer>
</body>
</html>