<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head}"><title th:text="${group.getTitle()}"></title></head>
<style>
    body {
        text-align: initial;
    }
</style>
<body>
<div th:replace="~{common/nav :: nav}"></div>
<br/>
<div class="container">
    <!-- div style="display: flex; justify-content: center" class="fs-3 ms-2 mt-3">
        <a href="/" class="btn btn-outline-primary">Главная страница</a>
    </div -->
    <div style="display: block; justify-content: center" class="ms-2 mt-3">
        <div style="height: 2.5rem">
            <span class="fs-7">Наименование группы:</span>
            <span class="fs-3 ps-2" title="title" th:text="${group.getTitle()}"></span><br>
        </div>
        <div style="height: 2.5rem; line-height: 2.5rem">
            <span class="fs-7">Наименование курса: </span>
            <span class="fs-5 ps-2" title="title" th:text="${course.getTitle()}"></span>
        </div>
        <div style="height: 2.5rem">
            <span class="fs-7" th:if="${(teacher.length() > 0)}">Преподаватель:</span>
            <span class="fs-5 ps-2" th:if="${(teacher.length() > 0)}" th:text="${teacher}"></span>
            <span class="fs-7 ps-2" th:unless="${(teacher.length() > 0)}">Преподаватель ещё не назначен</span>
        </div>
        <div class="mb-4" style="height: 2.5rem">
            <span class="fs-7" th:if="${(group.isStarted)}">Обучение группы стартовало</span>
            <span class="fs-7" th:if="${!group.isStarted}">Группа набирается</span>
        </div>
        <span class="fs-5 mb-2">Список группы:</span>
        <div th:if="${(groupStudents.size() > 0)}">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item" th:each="student : ${groupStudents}" th:if="${(users.get(student.userId) != null)}">
                    <span style="display: inline" th:if="${(users.get(student.userId).getSurname() != null)}" th:text="${users.get(student.userId).getSurname() + ' '}"></span>
                    <span style="display: inline" th:if="${(users.get(student.userId).getName() != null)}" th:text="${users.get(student.userId).getName() + ' '}"></span>
                    <span style="display: inline" th:if="${(users.get(student.userId).getMiddleName() != null)}" th:text="${users.get(student.userId).getMiddleName()}"></span>
                </li>
            </ol>
        </div>
        <div th:if="${(groupStudents.size() == 0)}">
            Список пуст.
        </div>
        <div th:if="${(addStudents.size() > 0) && (group.isStarted != true)}">
            <form method="post">
                <input hidden name="groupId" th:value="${group.id}"/>
                <select name="userId" style="width: 350px;">
                    <option th:each="user : ${addStudents}" th:value="${user.id}"
                            th:text="${user.surname + ' ' + user.name}">
                    </option>
                </select>
                <button class="btn btn-primary">Добавить студента в группу</button>
            </form>
        </div>

    </div>
</div>

<footer th:replace="~{common/footer :: footer}"></footer>
</body>
</html>