<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head}"></head>
<!-- head>
    <title>Список курсов</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head -->
<body>
<div th:replace="~{common/nav :: nav}"></div>
<div class="container">
<h1>Список курсов</h1>
<div  th:if="${roles.contains('Administrator')}">
    <a href="/course/create">
        <button>Создать курс</button>
    </a>
</div>
<hr>
<div th:if="${courses.size() > 0}">
    <div class="course" th:each="record : ${courses}">
        <h1 th:text="${record.getCourse().getTitle()}"></h1>
        <h2 th:text="${'Описание: ' + record.getCourse().getDescription()}"></h2>
        <h2 th:text="${record.getTeacher() != null} ? ${'Преподаватель: ' + record.getTeacher().getName() + ' ' + record.getTeacher().getMiddleName() + ' ' + record.getTeacher().getSurname()} : 'Преподаватель: пока не задан'"></h2>
        <h2>Группы:</h2>
        <div th:if="${record.getGroups() != null && record.getGroups().size() > 0}">
            <div class="groups" th:each="group : ${record.getGroups()}">
                <p th:text="${group.getTitle()}"></p>
            </div>
        </div>
        <div th:unless="${record.getGroups() != null && record.getGroups().size() > 0}">
            <p>Группы не привязаны к курсу</p>
        </div>
        <div>
            <br>
            <a th:href="${'/course/edit?id=' + record.getCourse().getId()}">
                <button>Редактировать</button>
            </a>
        </div>
        <hr>
    </div>
</div>
<div th:unless="${courses.size() > 0}">
    Курсов нет
</div>
</div>
<footer th:replace="~{common/footer :: footer}"></footer>
</body>
</html>
